/target
/assets/models/rungholt.glb
/assets/models/sponza.glb
/assets/models/fireplace.glb
/assets/models/living_room.glb
/assets/models/san_miquel.glb
/assets/models/san_miquel2.glb
/assets/textures/sky.hdr

